@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes textReveal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-text-reveal {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: textReveal 5s ease-in-out forwards; /* Increased duration to 3s and used ease-in-out timing function */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
